<div class="container">
    <form action="/producto/operar" method="post">
        <div class="form-group mt-4">
            <input type="hidden" name="_id" value="{{_id}}">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}">
            <label for="nombre">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" value="{{precio}}">
            <label for="costo">Costo</label>
            <input type="text" class="form-control" id="costo" name="costo" value="{{costo}}">
            <label for="costo">Minimo</label>
            <input type="text" class="form-control" id="minimo" name="minimo" value="{{minimo}}">
        </div>
        <button class="btn btn-primary">Aceptar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>