


<div class="container">
    <div class="row">
        <br />
        <form action="/userForm/user/operar" method="post"></form>
    <br>
    <input type="hidden" name="_id" value="{{user._id}}">
    <div class="form-group">
       <div class="form-group">
            <label for="nombre">Rol</label>
            <input type="text" class="form-control" id="rol" name="rol" value="{{user.rol}}">
      <button type="submit"  class="btn btn-primary">Grabar</button>   
    </div>
</form>
        <!--<a href="/user/nuevo" class="btn btn-primary">Nuevo usuario</a>-->
        <a href="/producto/nuevo" class="btn btn-primary">Nuevo</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Costo</th>
                    <th colspan="2">Opciones</th>
                </tr>

            </thead>
            {{#each productos}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.precio}}</td>
                <td>{{this.costo}}</td>
                <td><a href="/producto/modificar/{{this._id}}">Modificar</a></td>
                <td><a href="/producto/eliminar/{{this._id}}">Eliminar</a></td>
            </tr>
            {{/each}}


        </table>

    </div>
</div>